-content_for :title do
  Home

.home
  .left-block
    %h2
      Congratulations on finding the
      %i
        best*
      Helvetica text-only laminator in the tri-state area. You've found Dr. Laminator**

    %p
      Family owned since 1906***, take the stress out of protecting your text with Dr. Laminator's custom lamination
      solution.

  .right-block
    hello

-content_for :footer_text do
  %p
    * Quality of lamination is probably subjective and no market research has been performed to confirm the
    accuracy that Dr. Laminator is the best laminator in the New York metropolitan area. If you are a professional
    laminator who is losing a very specific set of customers to Dr. Laminator, sorry. Also think about reading a
    book on marketing. It's a tough world out there. Sorry.
  %p
    ** While Dr. Laminator will perform minor medical procedures (we've all got bills to pay), Dr. Laminator is not
    a qualified doctor.

  %p
    *** This is not true. Check the facts, Wikipedia puts plastic at about 1907 and Dr. Laminator does not have a
    family aside from his own parents, neither of whom have laminated anything professionally as far as I know.
    I gather Dr. Laminator is looking to start a family so if you like the look of him, get it touch!
    He's free most evenings.