-content_for :title do
  Home

.home
  .left-block
    %h2
      Congratulations on finding the
      %i
        best*
      text-only laminator in the tri-state area...
      You've found Dr. Laminator**

    %p
      With sea levels rising, ensuring your documents are protected from water damage and other hazards has never been
      more important. The question is no longer "why should I laminate?", it is "how can Dr. Laminator help me?".

    %p
      Family owned since 1906***, Dr. Laminator takes the stress out of protecting custom messages by grappling the latest in
      %a{href: 'http://www.amazon.com/Scotch-Thermal-Laminator-Roller-TL901/dp/B0010JEJPC', target: '_blank'} lamination technology
      to provide you with the following services...

      %ul
        %li
          Any message you can dream of printed in the finest Helvetica on A4 paper and laminated with teutonic precision.
        %li
          A shorter custom message printed in Helvetica on paper roughly the size of a fake ID, sealed in luxurious plastic.

    %p
      Your search for peace of mind is over. Visit
      %a{href: ETSY_URL, target: '_blank'} Dr. Laminator on Etsy.com
      and tell him what message you want laminated.

    %p
      Relax. You have Dr. Laminator on your side.

    %p.sign-off
      Dr. Laminator
      %br
      XOXO

  .right-block
    .block
      %h3
        Watch the commercial
        %i
          "Laminating Dreams"
      %iframe{allowscriptaccess: 'always', allowFullScreen: 'true', frameborder: '0', height: '191', width: '340', src: "http://www.youtube.com/embed/9QR1o2p0jn4"}

    .block
      %h3
        %a{href: ETSY_URL, target: '_blank', rel: 'canonical'}
          Order NOW on Etsy!

      %a{href: ETSY_URL, target: '_blank'}
        %img{src: '/images/explanation_sign.png'}

-content_for :footer_text do
  %p
    * Quality of lamination is probably subjective and no research has been performed to confirm the
    claim Dr. Laminator is the best laminator in the New York metropolitan area. If you are a professional
    laminator who is losing a very specific set of customers to Dr. Laminator think about reading a
    book on marketing. It's a tough world out there. Sorry.
  %p
    ** While Dr. Laminator will perform minor medical procedures (we've all got bills to pay), Dr. Laminator is not
    a qualified doctor. All text is in Helvetica.

  %p
    *** This is not true. Check the facts, Wikipedia puts plastic at about 1907 and Dr. Laminator does not have a
    family aside from his own parents, neither of whom have laminated anything professionally as far as I know.
    I gather Dr. Laminator is looking to start a family so if you like the look of him, get it touch!
    He's free most evenings.
