!!!
%html
  %head
    %meta{name: 'viewport', content: 'width=1200'}
    %title
      Dr. Laminator -
      =yield_content :title

    =css :application

  %body
    .header-row
      .left-block
        %h1
          %a{href: '/', rel: 'canonical'}
            Dr. Laminator

        .sub-heading
          Helvetica wrapped in plastic

      .right-block
        %a.etsy-link.inner-block{href: ETSY_URL, target: '_blank'}
          Order on Etsy!

        %a.testimonials-link.inner-block{href: '/testimonials'}
          Testimonials

        %a.home-link.inner-block{href: '/'}
          Home

    .content-row
      =yield

    .footer-row
      = yield_content :footer_text