-content_for :title do
  Testimonials

.testimonials
  .heading
    %h2
      Dr. Laminator is very proud of both his quality of lamination and his friendly attitude towards you, the general public.
      To his customers, Dr. Laminator represents something bigger: one-page printed material that will last for generations.
      But don't just take it from us...
    %img{src: '/images/drlaminator_math.gif', width: 340, align: 'top'}

  .interviews
    .cell
      %img{src: '/images/testimonial_2.jpg', alt: 'Member of public one'}
      .quote
        "Going through an overdue divorce, I can rest easy knowing my husband can't destroy his laminated paperwork*."
      .attributed
        Antje Kobus -- Future Divorcee

    .cell
      %img{src: '/images/testimonial_6.jpg', alt: 'Member of public one'}
      .quote
        "Spilt whiskey on my Chinese visa... Who cares!? It was freeze-heated in plastic*! Kapow!"
      .attributed
        Teddi Sheringham -- Student

    .cell
      %img{src: '/images/testimonial_5.jpg', alt: 'Member of public one'}
      .quote
        "Thanks to Dr. Laminator*, my divorce papers weren't damaged by water. Lamination does not fully prevent fire damage**."
      .attributed
        Staas Kobus -- Future Divorcee

-content_for :footer_text do
  %p
    * Dr. Laminator did not provide the service specified. Dr. Laminator will only laminate your messages printed in Helvetica.
  %p
    ** Or at all.
