-content_for :title do
  Testimonials

.testimonials
  .heading
    %h2
      Dr. Laminator is very proud of both his quality of lamination and his friendly attitude towards you, the general public.
      To his customers, Dr. Laminator represents something bigger: one-page printed material that will last for generations.
      But don't just take it from us...
    %img{src: '/images/drlaminator_math.gif', width: 340, align: 'top'}

  .interviews
    .cell
      %img{src: '/images/testimonial_1.jpg', alt: 'Member of public one'}
      .quote
        "Somebody kept mocking my parking instructions. Now they're laminated, I just scrub the mockery away!"
      .attributed
        Emilia Aniela -- Car Park Attendant

    .cell
      %img{src: '/images/testimonial_2.jpg', alt: 'Member of public one'}
      .quote
        "I would have needed to print more divorce papers if it weren't for Dr. Laminator!"
      .attributed
        Staas Kobus -- Future Divorcee
